@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.col {
    height: 100vh;
    width: 50vw;
    padding: 10px;
    overflow-y: auto;

    display: flex;
    align-items: center;

    flex-direction: column;
}

#replay_input {
    height: 150px;
    width: 60%;
    min-width: 300px;
}

#output {
    width: 65%;
    height: 100%;
}

#bbcode_output {
    width: 80%;
    height: 80%;
}

@media (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    .col {
        width: 100vw;
        height: auto;
        overflow-y: visible;
        margin: 0;
    }
}